.container {
  display: flex;
  min-height: 100vh;
}

.mainContent {
  flex: 1;
  min-height: 100vh;
  padding: 40px; /* コンテンツ周りの余白 */
  margin-left: 240px; /* サイドバーの width と同じ値を設定 */
  background-color: #f9f9f9; /* 背景色をつけて境目をわかりやすく */
}
