.container {
  max-width: 400px;
  padding: 40px;
  margin: 100px auto;
  text-align: center;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgb(0 0 0 / 10%);
}

.title {
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.button {
  padding: 12px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  background: #0070f3;
  border: none;
  border-radius: 6px;
}

.button:disabled {
  background: #ccc;
}

.switchButton {
  margin-top: 20px;
  font-size: 14px;
  color: #0070f3;
  text-decoration: underline;
  cursor: pointer;
  background: none;
  border: none;
}
